@if (isLoading()) {
  <mat-spinner/>
}
<div>
  <mat-form-field>
    <mat-label>Enter city name</mat-label>
    <input type="text" matInput [formControl]="cityControl" placeholder="Kyiv">
    @if (cityControl.hasError('required')) {
      <mat-error>City name is required</mat-error>
    }
  </mat-form-field>

  <button mat-flat-button (click)="getForecast()">Search</button>
</div>

@if (dataSource().error) {
  <p class="error">
    Error: {{ dataSource().error }}
  </p>
} @else if (dataSource().data.length) {
  <app-forecast-table [dataSource]="dataSource()" [displayedColumns]="displayedColumns"/>
}
